name: CI
on:
  - push
  - pull_request
jobs:
  Linux:
    strategy:
      fail-fast: false
      matrix:
        include:
          - jdk: 18
    name: JDK ${{ matrix.jdk }}${{ matrix.ecj && ' with ECJ' || ''}}
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'zulu'
          java-version: |
            ${{ matrix.jdk }}
      - run: |
          set -x
          wget "https://repo1.maven.org/maven2/org/jacoco/org.jacoco.agent/0.8.14/org.jacoco.agent-0.8.14-runtime.jar"
          java -javaagent:org.jacoco.agent-0.8.14-runtime.jar -version
          java -javaagent:org.jacoco.agent-0.8.14-runtime.jar=jmx=true -version
      - name: 'Generate toolchains.xml'
        env:
          JDK_VERSION: ${{ matrix.jdk }}
          JDK_HOME_VARIABLE_NAME: JAVA_HOME_${{ matrix.jdk }}_X64
        run: |
          echo "
          <toolchains>
            <toolchain>
              <type>jdk</type>
              <provides>
                <id>$JDK_VERSION</id>
                <version>$JDK_VERSION</version>
              </provides>
              <configuration>
                <jdkHome>${!JDK_HOME_VARIABLE_NAME}</jdkHome>
              </configuration>
            </toolchain>
          </toolchains>
          " > toolchains.xml
      - name: 'Build'
        run: |
          ./mvnw -V -B -e --no-transfer-progress \
            -DtrimStackTrace=false \
            verify -Djdk.version=${{ matrix.jdk }} -Dbytecode.version=${{ matrix.jdk }} \
            ${{ matrix.ecj && '-Decj' || ''}} \
            --toolchains=toolchains.xml
  Windows:
    runs-on: windows-2022
    environment: ${{ (github.repository == 'jacoco/jacoco' && github.ref == 'refs/heads/master') && 'snapshot' || null }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'zulu'
          java-version: |
            6
            17
      - run: exit 1
      - name: 'Generate toolchains.xml'
        env:
          JDK_VERSION: 6
          JDK_HOME_VARIABLE_NAME: JAVA_HOME_6_X64
        shell: bash
        run: |
          echo "
          <toolchains>
            <toolchain>
              <type>jdk</type>
              <provides>
                <id>$JDK_VERSION</id>
                <version>$JDK_VERSION</version>
              </provides>
              <configuration>
                <jdkHome>${!JDK_HOME_VARIABLE_NAME}</jdkHome>
              </configuration>
            </toolchain>
          </toolchains>
          " > toolchains.xml
      - name: 'Build'
        shell: bash
        run: |
          ./mvnw -V -B -e --no-transfer-progress \
            verify -Djdk.version=6 -Dbytecode.version=5 \
            -f org.jacoco.build \
            ${{ secrets.SONARQUBE_TOKEN && 'sonar:sonar' || '' }} \
            -Dsonar.scanner.skipJreProvisioning \
            -Dsonar.organization=default \
            -Dsonar.host.url=https://sonarcloud.io \
            --toolchains=toolchains.xml
        env:
          SONAR_TOKEN: ${{ secrets.SONARQUBE_TOKEN }}
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        id: artifact-upload-step
        with:
          name: jacoco
          path: jacoco/target/*.zip
          if-no-files-found: error
  CI:
    needs:
      - Linux
      - Windows
    # without following condition this job can have result "skipped" if needed job was "skipped"
    # auto-merge ignores skipped jobs even if they are required by branch protection rules
    if: ${{ always() }}
    runs-on: ubuntu-24.04
    steps:
      - name: Check results of all needed jobs
        run: |
          R=$(echo "$NEEDS" | jq --compact-output '[.[].result] | unique')
          if [ "$R" = '["success"]' ]; then
            exit 0
          else
            exit 1
          fi
        env:
          NEEDS: ${{ toJSON(needs) }}
